.tag-info {
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 0 8px;
	color: #fff;
	background: #88C5E1;
	border-radius: 4px;
}

.tag-info:hover {
	color: #fff;
	background: #54abd4;
	text-decoration: none;
}

.footer div {
	text-align: center;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 500px;
}

.center {
	text-align: center;
}